DJANGO_SECRET_KEY="replace-with-a-secure-secret-key"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=vendilume_db
POSTGRES_USER=vendilume_user
POSTGRES_PASSWORD="replace-with-your-database-password"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GRAFANA_BASE_URL=http://localhost:3000
GRAFANA_DASHBOARD_UID=replace-with-your-dashboard-uid
